#encoding:utf-8
<div class="button-cart">
<div>Cart</div>
<table class="table">
		<% @cart.line_items.each do |item| %>
		<tr>
			<td><%= item.product.title %></td>
			<td><%= item.quantity %></td>
		</tr>
	<% end %>
	<div class="button-cart">
	<%= link_to "付款", new_order_path, method: :get, class: "btn btn-primary"%>
<%= link_to "empty cart", cart_path(@cart), method: :delete, confirm: "确定删除", class: "btn btn-danger" %> 
</div>
</table>
