// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table img {
	width: 70px;
	height: 50px;
}
.drop-down li:last-child ul {
	width: 260px;
	left: -200%;
}
.drop-down li:last-child ul li {
	color: black;
}
.button-cart a{
	float: right;
	margin-left: 30px;
}
.index-cart {
	width: 240px;
}
.index-cart a:link {
	color: white;
}

