// Place all the styles related to the directories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#error_explanation {
	color: red;
}
.field-directory {
	float: left;
	margin-right: 10px;
}
.field-directory #directory_zip, #customer_directories_attributes_0_zip{
	width: 30px;
	float: left;
}
.field-directory #directory_tel, #customer_directories_attributes_0_tel{
	width: 40px;
}
.field-address	{
	clear: both;
}
#directory_province_id, #directory_city_id, #directory_district_id, 
#customer_province_id, #customer_city_id, #customer_district_id{
	width: auto;
}	
.field-address #directory_address,#customer_directories_attributes_0_address {
	clear: both;
	width: auto;
}
