// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';
body {
	margin: auto;
}

.index-show {
	height: 200px;
	border: 1px solid;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #909090;
}
footer {
	clear: both;
	margin-top: 20px;
}
.btto {
	float: left;
	font-size: 14px;
	margin: -23px 0 0 100px;
}
#set_locale {
	float: right;
	width: 90px;
	margin: 0;
}
.no-btn {
	margin-bottom: 6px;
	border: 1px solid;
}
.nav-index{
	list-style: none;
	float: right;
}
.nav-index {
	position: relative;
}
.nav-index ul {
	list-style: none;
	display: block;
	position: absolute;
	
}
.nav-index ul {
	display: none;
	position: absolute;
	left: -100%;
	top: 100%;
}
.nav-index:hover > ul {
	display: block;
}
.nav-index ul li {
	background: #e8e8e8;
	width: 300px;
}
.well {
	height: 30px;
	padding: 0 0 5px 0;
	margin-bottom: 0;
}
