//最顶上的登录注册栏
.affix {
	position: fixed;
	top: 0px;
	width: 100%;
	//left: 13.8%;
	z-index: 2;
}
//大类展示页面的附加导航
#location .affix {
	position: fixed;
	top: 40px;
}
.affix .drop-down li ul {
	display: none;
}
#location .nav-list {
	width: 165px;
	height: auto;
	margin-right: 0;
	background: #eaeaea;
}
#location .nav-list li:first-child {
	background-image: -moz-linear-gradient(top, #aa8430 10%, #9f7925 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #9f7925), color-stop(10%, #aa8430));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#9f7925', StartColorStr='#aa8430');
	color: white;
	margin: 0;
	padding: 5px 0 3px 15px;
	font-size: 12pt;
	font-weight: bold;
}
#location .nav-list li a{
	float: left;
	padding: 0;
	margin: 0;
	margin-left: 15px;
	width: 130px;
}
#location .nav-list ul li {
}
.mylocation {
	width: 810px;
	float: right;
}
.mylocation .thumbnails li{
	margin: 2px 5px 5px 0;
}
.mylocation .thumbnail {
	width: 185px;
}
////
//主页面
.container {
	width: 980px;
}
.index-top {
	height: 30px;
	background: white;
	//border: 1px solid;
}
.index-top ul {
	list-style: none;
	margin-left: 10px;
	width: 980px;
	margin: auto;
}
.index-top li {
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}
.index-top li:last-child {
	float: right;
	margin-right: 10px;
	margin-top: -20px;
}
.set-locale {
	margin-top: -20px;
}
// Logo 的位置
.index-logo {
	height: 100px;
	//border: 1px solid;
	background-image: -moz-linear-gradient(top, #f6f6f1 10%, #dcd9c7 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #dcd9c7), color-stop(10%, #f6f6f1));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#9f7925', StartColorStr='#aa8430');
}

.index-logo img {
	float: left;
	margin: 10px 10px 0 20px;
}
.index-logo span {
	font-style: bold;
	font-size: 16pt;
}
.index-logo.logo-font {
	float: left;
}
.logo-font {
	margin-top: 30px;
	width: 400px;
}
.center-index {
	width: 980px;
	margin: auto;
}
.index-logo .ps-index:first-child {
	float: left;
}
.ps-index:last-child {
	width: 300px;
	float: right;
}

//导航栏
.index-nav {
	height: 40px;
	border: 1px solid #ffffff;
	background-image: -moz-linear-gradient(top, #005b37 10%, #00452a 30%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #00452a), color-stop(10%, #005b37));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#005b37');

}
.index-nav ul {
	margin: 8px 0 0 20px;
	list-style: none;
}
.index-nav li {
	color: white;
	float: left;
	margin-right: 30px;
}
.index-nav li a {
	color: white;
}
.index-nav li:last-child{
}
//热门搜索
.search-font {
	width: 980px;
	margin: auto;
	background-image: -moz-linear-gradient(top, #ededed 10%, #e8e8e8 30%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #e8e8e8), color-stop(10%, #ededed));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#e8e8e8', StartColorStr='#ededed');
	border: 1px solid #ffffff;
	height: 22px;
	padding: 0;
}
.search-font small {
	float: left;
	margin-left: 130px;
}
.search-font span {
	float: left;
	border: 1px solid #ffffff;
}
.search-font small a {
	font-size: 10pt;
	margin-left: 6px;
}
.search-font .alert {
	height: 20px;
	width: 300px;
	padding: 0;
	margin: 0;
}
.breadcrumb {
	height: 22px;
	padding: 0;
	border: 1px solid #ffffff;
	width: 980px;
	margin: auto;
	background: #eaeaea;
}
.breadcrumb span {
	float: left;
}
.breadcrumb a {
	color: blue;
}
//分类导航的位置

.nav-list {
	margin-top: 5px;
	width: 180px;
	border: 1px solid;
	padding: 0;
	float: left;
	height: 297px;
	margin-bottom: 10px;
}
.nav-list h4 {
	color: white;
	margin: 0;
	height: 25px;
	padding: 5px 0 0 15px;
	background-image: -moz-linear-gradient(top, #aa8430 10%, #9f7925 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #9f7925), color-stop(10%, #aa8430));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#9f7925', StartColorStr='#aa8430');
}
.nav-list ul {
	list-style: none;
	margin: 0;
}
.nav-list li {
	margin-top: 8px;
	border-bottom: 1px solid;
	padding-bottom: 6px;
	position: relative;
}
.nav-list li ul {
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	z-index: 5;
}
.nav-list li ul {
	display: none;
	}
.nav-list li ul {
	width: 550px;
	background: white;
	border: 1px solid;
}
.nav-list li:hover > ul {
	display: block;
}
.nav-list ul li ul li {
	border-style: none;
	float: left;
	overflow: hide;
	margin-left: 10px;
	margin-top: 10px;
}
.nav-list ul li i {
	float: right;
}
.nav-list ul li a {
	margin-left: 15px;
	font-size: 12pt;
}
.nav-list ul li ul li a{
	font-size: 9pt;
}
//首页展示图
.index-img {
	margin-top: 5px;
	float: left;
	margin-left: 10px;
	height: 297px;
	border: 1px solid;
	width: 785px;
}
.index-img .title{
	height:25px;
	line-height:25px;
	background-color:#000;
	color:#FFF;
	margin:10px 0;
	padding-left:20px;
	font-family:"Verdana","宋体";
	font-size:12px;
}
//产品展示的界面
//多个产品展示的界面
.show-product {
	clear: both;
	width: 980px;
	float: left;
	border: 1px solid #ffffff;
}

//公司介绍，新闻中心
.footer-nav {
	margin-top: 10px;
	height: 200px;
	border: 1px solid #ffffff;
	clear: both;
}
//关于我们
.footer-nav .about-us, .new-robt,.mulu {
	width: 300px;
	float: left;
	height: 200px;
	border-bottom: 1px solid;
}
.new-robt {
	margin-left: 38px;
}
.mulu {
	float: right
}
.about-us img {
	width: 180px;
	height: 150px;
	margin-right: 0px;
	float: left;
}
.span-font{
	width: 100px;
	margin-left: 10px;
	padding: 0;
	float: left;
	font-size: 9pt;
}
.about-us ul, .new-robt ul, .mulu ul {
	margin: 0;
	padding-left: 20px;
	list-style: none;
	background-image: -moz-linear-gradient(top, #eaeaea 10%, #b2b2b2 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #b2b2b2), color-stop(10%, #eaeaea));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');

}
//新闻中心
.mulu img {
	width: 300px;
	height: 180px;
}
//页脚导航
.footer-list {
	margin-top: 10px;
	border: 1px solid #ffffff;
	background-image: -moz-linear-gradient(top, #b2b2b2 2%, #eaeaea 8%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(2%, #b2b2b2), color-stop(8%, #eaeaea));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');

	height: 220px;
}
.list-nav {
	width: 160px;
	padding: 0;
	margin-left: 35px;
	float: left;
}
.list-nav h3 {
	margin: 0;
	margin-top: 10px;
	border-bottom: 2px solid #b2b2b2;
}
.list-nav ul {
	margin-left: 35px;
}
.list-nav li:first-child {
	margin-top: 5px;
}
.list-nav:first-child {
	margin: 0;
	margin-left: 5px;
}
.list-nav:last-child {
	float: right;
	margin-right: 10px;
}
//本公司的优势
.footer-youshi {
	margin-top: 5px;
	border: 1px solid #ffffff;
	height: 50px;
}
.youshi img {
	margin-right: 3px;
	float: left;
	width: 20px;
	height: 30px;
}
.youshi {
	float: left;
	margin: 5px 10px 0 0;
	width: 182px;
}
.youshi span {
	font-size: 14pt;
}
.youshi:first-child {
	margin-left: 5px;
}
//底部导航
.nav-footer {
	margin-top: 10px;
	border-bottom: 3px solid #b2b2b2;
	height: 25px;
	background-image: -moz-linear-gradient(top, #b2b2b2 2%, #eaeaea 40%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(2%, #b2b2b2), color-stop(40%, #eaeaea));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');
}
.nav-footer ul {
	list-style: none;
	margin-left: 260px;
}
.nav-footer li {
	float: left;
	padding: 3px;
	margin-left: 10px;
}
.nav-footer li a{
color: rgb(253,88,14);
}
//推荐词条
.category-list {
	border-bottom: 3px solid #b2b2b2;
	margin-top: 5px;
	padding-bottom: 5px;
	color: rgb(253,88,14);
}
.category-list a {
	color: rgb(253,88,14);
}
//最地下的公司信息
.footer-bottom  {
	color: rgb(253,88,14);
	margin-top: 5px;
	text-align: center;
}

//喜欢浏览
.like_view ol {
	height: 25px;
	border: 1px solid;
	background-image: -moz-linear-gradient(top, #016e43 10%, #00452a 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #00452a), color-stop(10%, #016e43));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#016e43');

}
.like_view, .like_view ol{
	margin: 0;
}
.like_view span {
	padding: 10px;
	font-style: bold;
	color: white;
	margin-left: 10px;
}
//滑动门
.show-product li{
 	margin: 0;
	padding: 0;
	font: 12px normal Arial, Helvetica, sans-serif;
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
#tabbox{ 
	overflow:hidden; 
	margin:0 auto;
}
.tab_conbox{
	border: 1px solid #999;
	border-top: none;
}
#tab_conbox ol {
	float: left;
	margin: 4px 5px 3px 2px;
}
#tabs ol a {
	color: white;
	margin-top: 10px;
}
#tab_conbox .thumbnail {
	width: 180px;
}
.tab_con{ 
	display:none;
}
.tabs{
	height: 25px;
	background-image: -moz-linear-gradient(top, #eaeaea 10%, #b2b2b2 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #b2b2b2), color-stop(10%, #eaeaea));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#b2b2b2', StartColorStr='#eaeaea');
	border-bottom:1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
.tabs li{
	height:25px;
	line-height:25px;
	float:left;
	margin-left: 10px;
	margin-top: 2px;
	border-left:none;
	margin-bottom: -1px;
	background: none;
	overflow: hidden;
	position: relative;
}
.tabs ol {
	background-image: -moz-linear-gradient(top, #016e43 10%, #00452a 30%);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(30%, #00452a), color-stop(10%, #016e43));
	filter:progid:DXImageTransform.Microsoft.Gradient(GradientType=0, EndColorStr='#00452a', StartColorStr='#016e43');
	width: 120px;
	color: white;
	float: left;
	height: 25px;
	font-size: 10pt;
	padding-left: 15px;
	margin: 0;
}
#tab_conbox, #tabs  {
	margin: 0;
}
#media {
	float: right;
	background: none;
	position: relative;
	margin-right: 10px;
	margin-top: -26px;
}
#media a {
	position: relative;
}
.tabs li a {
	display: block;
	padding: 0;
	font-size: 9pt;
	outline: none;
}
.tabs li a:hover {
	background: none;
}	
.tabs .thistab,.tabs .thistab a:hover{
	background: none;
	height: 18px;
}
#tab_conbox {
	margin-top: 5px;
}
//搜索表单
.form-search {
	height: 30px;
}
.form-search input {
	margin-top: -5px;
	width: 300px;
}
.form-search button {
	//background: none;
	margin-top: -2px;
	border-style: none;
	color: white;
}
