<div id="location">
	<ul class="nav nav-list affix" data-spy="affix" data-offset-top="150">
		<li>产品目录</li>
		<% @categories.each do |cate| %>
			<% cate.tags.each do |tag| %>
				<li><%= link_to tag.name, tags_path(t:tag) %>
				<i class="icon-chevron-right"></i></li>
			<%end %>
		<% end %>
	</ul>
</div>
<div class="mylocation">
<div class="row-fluid">
	<ul class="thumbnails">
		<% @categories.each do |cate| %>
			<% cate.tags.each do |tag| %>
				<% tag.lists.each do |list| %>
					<% list.products.each do |product| %>
						<%= render partial: "products/like_view", locals: {product: product} %>
					<%end %>
				<% end %>
			<% end %>
		<% end %>
	</ul>
</div>
<%= will_paginate @category %>
</div>
