<div class="row-fluid">
	<ul class="thumbnails">
<% @lists.each do |list| %>
	<% list.products.each do |product| %>
		<%= render partial: "products/like_view", locals: {product: product} %>
	<% end %>
<% end %>
</ul>
</div>
