<div class="nav-list">
	<h4>产品目录</h4>
	<ul>
		<% Category.all.each do |cate| %>
			<li><%= link_to cate.name, category_path(cate.id) %>
			<ul>
				<% cate.tags.each do |tag| %>
					<li>
					<%= link_to tag.name, tags_path(t:tag) %><br />
					<% tag.lists.each do |list| %>
						<%= link_to list.name, products_path(t:list) %>
					<% end %>
		<% end %>
		</li>
	</ul>
	</li>
		<% end %>
	</ul>
</div>

